// COLORS

$color-background-cream: hsl(30, 38%, 92%);
$color-background-white: hsl(0, 0%, 100%);
$color-background-green: hsl(158, 36%, 37%);
$color-background-green-shade: hsl(158, 36%, 29%);
$color-background-black: rgba(0, 0, 0);

// Text Colors

$color-text-black: hsl(212, 21%, 14%);
$color-text-gray: hsl(228, 12%, 48%);

// Font

$font-primary: 'Fraunces', serif;
$font-secondary: 'Montserrat', sans-serif;

$font-size-main: 1.4rem;

// COLORS

$color-background-cream: hsl(30, 38%, 92%);
$color-background-white: hsl(0, 0%, 100%);
$color-background-green: hsl(158, 36%, 37%);
$color-background-green-shade: hsl(158, 36%, 29%);
$color-black-transparent: rgba(0, 0, 0, 0.2);

// Text Colors

$color-text-black: hsl(212, 21%, 14%);
$color-text-gray: hsl(228, 12%, 48%);

// Font

$font-primary: 'Fraunces', serif;
$font-secondary: 'Montserrat', sans-serif;

$font-size-main: 1.4rem;
