@import './variables';

/*
- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/

*,
*::after,
*::before {
	padding: 0;
	margin: 0;
	box-sizing: inherit;
}

html {
	font-size: 62.5%;
}

body {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	box-sizing: border-box;
	background-color: $color-background-cream;
	overflow: hidden;
}

.card {
	display: flex;
	flex-direction: column;
	margin: 3rem 2rem;
	max-width: 34rem;
	background-color: $color-background-white;
	border-radius: 1rem;
	overflow: hidden;
	&__img {
		height: 24rem;
		width: 100%;
		background-image: url('../images/image-product-mobile.jpg');
		background-size: cover;
		background-position: center;
	}

	&__body {
		display: flex;
		flex-direction: column;
		padding: 2.4rem;
	}

	&__name {
		margin-bottom: 1.2rem;
		font-size: 1.2rem;
		text-transform: uppercase;
		font-family: $font-secondary;
		color: $color-text-gray;
		letter-spacing: 4px;
	}

	&__title {
		margin-bottom: 1.4rem;
		font-family: $font-primary;
		font-size: 3rem;
		font-weight: 700;
		color: $color-text-black;
	}

	&__text {
		margin-bottom: 2.4rem;
		font-family: $font-secondary;
		font-size: 1.4rem;
		font-weight: 500;
		line-height: 1.6;
		color: $color-text-gray;
	}

	&__price {
		display: flex;
		align-items: center;
		gap: 1.6rem;
		margin-bottom: 1.6rem;
		font-family: $font-primary;
		font-size: 3.2rem;
		color: $color-background-green;
		span {
			font-size: 1.4rem;
			font-family: $font-secondary;
			text-decoration-line: line-through;
			color: $color-text-gray;
		}
	}

	.btn {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 1rem;
		padding: 1.4rem 3.6rem;
		border: none;
		border-radius: 8px;
		background-color: $color-background-green;
		font-size: 1.4rem;
		font-weight: 700;
		font-family: $font-secondary;
		color: $color-background-white;
		cursor: pointer;
		transition: all 0.2s;

		&:hover {
			background-color: $color-background-green-shade;
		}
	}
}

@media (min-width: 640px) {
	.card {
		flex-direction: row;
		max-width: 60rem;

		&__img {
			height: auto;
			width: 50%;
			background-image: url('../images/image-product-desktop.jpg');
			background-size: cover;
			background-position: center;
		}

		&__body {
			width: 50%;
			padding: 3.2rem;
		}

		&__name {
			margin-bottom: 1.8rem;
		}

		&__title {
			margin-bottom: 2.8rem;
			font-size: 3.2rem;
			line-height: 1;
		}

		&__text {
			margin-bottom: 3rem;
			font-family: $font-secondary;
			font-size: 1.4rem;
			font-weight: 500;
			line-height: 1.6;
			color: $color-text-gray;
		}

		&__price {
			margin-bottom: 2.4rem;
		}
	}
}
